# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Backend Build Files
.vs
backend/**/obj/*
backend/**/bin/*

# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

frontend/npm-debug.log*
